<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- MaterializeCSS -->
  <link rel="stylesheet" href="css/materialize.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,500,600,700|Rubik:400,500,600,700|Work+Sans::400,500,600,700&display=swap" rel="stylesheet">
  <!-- App CSS -->
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="container">
    <div class="row">
      <h1 class="section-title center">Simple Todo App</h1>
      <div class="todo-form-wrapper center-align">
        <form id="todo-form">
          <input id="todo-title" type="text" placeholder="What Needs To Be Done?" required>
          <button id="todo-submit" class="btn" type="submit" value="Submit">Add</button>
          <div style="clear:both;"></div>
        </form>
      </div>

      <ul id="todos" class="collection">
      </ul>
    </div>

  </div>

  <!-- MaterializeCSS JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      // Handler when the DOM is fully loaded
      const ulTodos = document.getElementById('todos');
      const todoForm = document.getElementById("todo-form");
      const todoSubmit = document.getElementById("todo-submit");
      let loader = "<div class='loader'><p></p><p></p><p></p><p></p></div>";

      todoSubmit.onclick = (e) => {
        e.preventDefault();
        let todoTitle = document.getElementById("todo-title").value;

        if (todoTitle !== "") {
          todoForm.classList.add("disable");
          todoSubmit.innerHTML = loader;
          fetch("api/todos", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({"title": todoTitle})
          })
          .then((resp) => resp.json())
          .then((data) => {
            // Remove loader
            let setTitleText = document.getElementById("todo-title");
            todoForm.classList.remove("disable");
            todoSubmit.innerHTML = "Add";
            setTitleText.value = "";

            // Update collection
            let liTodo = createNode("li");
            liTodo.setAttribute("id", `todo-${data._id}`);
            liTodo.classList.add("collection-item");
            liTodo.innerHTML = `<input class="inner-title" value="${data.title}" onchange="updateTodo(this)" onblur="resetTodoInput(this)" readonly><div class="inner-buttons">
                <button id="${data._id}" onclick="editableTitle(this);" class="btn-small update-todo">Update</button>
                <button id="${data._id}" onclick="deleteTodo(this);" class="btn-small remove-todo">Delete</button>
              </div><input class="todo-id" type="hidden" value="${data._id}">`;
            prepend(ulTodos, liTodo);
          })
          .catch((error) => {
            console.log(error);
          });
        }
      }

      // Get All Todos
      fetch("api/todos")
      .then((resp) => resp.json())
      .then((data) => {
        let todos = data;
        return todos.map(todo => {
          let liTodo = createNode("li");
          liTodo.setAttribute("id", `todo-${todo._id}`);
          liTodo.classList.add("collection-item");
          liTodo.innerHTML = `<input class="inner-title" value="${todo.title}" onchange="updateTodo(this)" onblur="resetTodoInput(this)" readonly><div class="inner-buttons">
              <button id="${todo._id}" onclick="editableTitle(this);" class="btn-small update-todo">Update</button>
              <button id="${todo._id}" onclick="deleteTodo(this);" class="btn-small remove-todo">Delete</button>
            </div><input class="todo-id" type="hidden" value="${todo._id}">`;
          append(ulTodos, liTodo);
        });
      })
      .catch((error) => console.log(error));

      createNode = (element) => {
        return document.createElement(element); // Create the type of element you pass in the parameters
      }

      append = (parent, el) => {
  	    return parent.appendChild(el); // Append the second parameter(element) to the first one
  	  }

      prepend = (parent, el) => {
        return parent.prepend(el); // Insert at the beginning of the parents
      }

    }); // end document

    editableTitle = (el) => {
      let innerTitle = el.closest(".collection-item").children[0];
      innerTitle.removeAttribute("readonly");
      innerTitle.classList.add("edit");
      innerTitle.focus();

      let inputCaretPosition = el.closest(".collection-item").children[0];
      setCaretPosition(inputCaretPosition, inputCaretPosition.value.length);
    }

    updateTodo = (el) => {
      let titleTodo = el.value;
      let idTodo = el.closest(".collection-item").children[2].value;
      let parentElement = el.closest(".collection-item");

      parentElement.classList.add("disable");

      fetch("/api/todos/" + idTodo, {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({"title": titleTodo})
      })
      .then((resp) => resp.json())
      .then((data) => {
        parentElement.classList.remove("disable");
      })
      .catch((error) => console.log(error));
    }

    resetTodoInput = (el) => {
      el.setAttribute("readonly", "true");
      el.classList.remove("edit");
    }

    deleteTodo = (el) => {
      let parentElement = el.closest(".collection-item");
      parentElement.classList.add("disable");

      fetch("api/todos/" + el.id, {
        method: 'DELETE'
      })
      .then((resp) => resp.json())
      .then((data) => {
        parentElement.remove();
      })
      .catch((error) => console.log(error));
    }

    setCaretPosition = (ctrl, pos) => {
      // Modern browsers
      if (ctrl.setSelectionRange) {
        ctrl.focus();
        ctrl.setSelectionRange(pos, pos);

      // IE8 and below
      } else if (ctrl.createTextRange) {
        var range = ctrl.createTextRange();
        range.collapse(true);
        range.moveEnd('character', pos);
        range.moveStart('character', pos);
        range.select();
      }
    }


  </script>
</body>
</html>
