body {
  background: #f8fafc;
  font-family: Noto Sans,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #222;
}

.section-title {
    font-family: Rubik,Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}

.todo-form-wrapper {
  margin: 0 auto 30px;
  max-width: 614px;
}

#todo-form.disable {
  position: relative;
  z-index: -1;
}

#todo-title {
  background: #fff;
  font-family: 'Work Sans',Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #222;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 20px;
  margin-bottom: 0;
  height: 54px;
  line-height: 56px;
  max-width: 417px;
  float: left;
}

#todo-title::-webkit-input-placeholder { /* Edge */
  color: #222;
  font-size: 16px;
}

#todo-title:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #222;
  font-size: 16px;
}

#todo-title::placeholder {
  color: #222;
  font-size: 16px;
}

#todo-submit {
  background: #26a69a;
  font-family: 'Work Sans',Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 56px;
  height: 56px;
  padding: 0 16px;
  max-width: 140px;
  width: 100%;
  margin-left: 12px;
  cursor: pointer;
  position: relative;
  float: left;
}
#todo-submit .loader{position:relative;display:block;width:60px;height:11px;margin:0 auto}
#todo-submit p{position:absolute;width:11px;height:11px;border-radius:50%;background:#fff;animation-timing-function:cubic-bezier(0,1,1,0);padding:0;margin:0;display:inline;}
#todo-submit p:nth-child(1){left:6px;animation:loader1 .6s infinite}
#todo-submit p:nth-child(2){left:6px;animation:loader2 .6s infinite}
#todo-submit p:nth-child(3){left:26px;animation:loader2 .6s infinite}
#todo-submit p:nth-child(4){left:45px;animation:loader3 .6s infinite}
@keyframes loader1 {
	0%{transform:scale(0)}
	100%{transform:scale(1)}
}
@keyframes loader3 {
	0%{transform:scale(1)}
	100%{transform:scale(0)}
}
@keyframes loader2 {
	0%{transform:translate(0,0)}
	100%{transform:translate(19px,0)}
}

/* Mediq Query */
@media screen and (max-width: 768px) {
  #todo-submit {
    margin: 12px auto 0;
    display: block;
    max-width: 459px;
    width: 100%;
  }
}
